<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaves Manager</title>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
        integrity="sha384-FWTLn9R18Q1ACmGvJK8Q1An+kjAXLwDmvoYASmz8mWJ28AVj+rq51aqyvMabpqgW" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/attendance.css">
    <link rel="stylesheet" href="/css/style.css">
    <script id="scripts" type="text/javascript" src="/scripts.js?c297ffc94dc8b1cc0bf99a59b92ce1f9f01f5208"></script>
    <!-- <script type="text/javascript" src="/js/leaves.js"></script> -->
    <!-- Bootstap link -->
    <style>
        .container {
            grid-template-columns: 1fr 7fr;
        }

        main {
            width: 100%;
        }
    </style>

    <style>
        .container {
            grid-template-columns: 1fr 5fr;
        }

        main {
            width: 100%;
        }
    </style>

        
</style>
</head>

<body>
    <div class="container">

        <%- include('./common/sidebar') %>
            <main>

                <div class="dashboard">
                    <div>
                        <h1>Attendance</h1>
                    </div>
                    <div>
                        <div class="gadgets-side__header">
                            <button class="menu-button" id="menu-btn">
                                <span class="material-icons-sharp menu-button__icon">menu</span>
                            </button>

                            <div class="theme-toggler">
                                <span class="
                          material-icons-sharp 
                          theme-toggler__button
                          theme-toggler__button--light
                          theme-toggler__button--active">light_mode</span>
                                <span class="
                          material-icons-sharp 
                          theme-toggler__button--dark
                          theme-toggler__button">dark_mode</span>
                            </div>

                            <div class="profile">
                                <div class="profile__info">
                                    <p>Hey, <b class="user-name">Jyotsana</b></p>
                                    <small class="text-muted">SDL-1</small>
                                </div>
                                <div>
                                    <img class="profile__photo"
                                        src="https://hrms.appdemoserver.com/assets/img/avatars/profile_image.jpg"
                                        alt="profile-picture">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="main-content">


                    <div class="content">
                        <div class="card-1" id="one">
                            <p>Work Days</p>
                            <p>
                                <%= totalWorkingDays %> Days
                            </p>
                        </div>
                        <div class="card-1" id="two">
                            <p>Late Days</p>
                            <p>
                                <%= lateDaysCount %> Days
                            </p>
                        </div>
                        <div class="card-1" id="three">
                            <p>Absent</p>
                            <p><%= leave_data %> Days</p>
                        </div>
                        <div class="card-1" id="four">
                            <p>Half Days</p>
                            <p><%= half_data %> Days</p>
                        </div>
                        <div class="card-1" id="five">
                            <p>Total Office Hours</p>
                            <p>
                                <%= getTotalOfficeHours %> Hours
                            </p>
                        </div>
                        <div class="card-1" id="six">
                            <p>Total Hours</p>
                            <p>
                                <%= hoursWorked %> Hours
                            </p>
                        </div>
                        <div class="card-1" id="seven">
                            <p>Productivity</p>
                            <p>
                                <%= workingRatio.toFixed(2) %> %
                            </p>
                        </div>
                    </div>
                    <div class="data">
                        <input class="i-data" type="date" id="date">
                        <input class="i-data" type="date" onchange="getData(this)">
                    </div>
                    <div id="table">
                    <table class="tab">
                        <tr>
                            <div class="column">
                                <div class="col">
                                    <h4>Date</h4>
                                </div>
                                <div class="col">
                                    <h4>Entry-Time</h4>
                                </div>
                                <div class="col">
                                    <h4>Exit-Time</h4>
                                </div>
                                <div class="col">
                                    <h4>Break-time</h4>
                                </div>
                                <div class="col">
                                    <h4>Progress</h4>
                                </div>
                                <div class="col">
                                    <h4>Working-hours</h4>
                                </div>
                        </tr>

                        <% for(let i=0; i<executeGetRecords.length; i++){ %> 
                        <tr>
                            <div class="column2">
                                <div class="col">
                                    <p><%= executeGetRecords[i].date.toLocaleDateString() %></p>
                                </div>
                                <div class="col">
                                    <p class="checkin-time-<%=(i+1)%>"><%= executeGetRecords[i].check_in %></p>
                                </div>
                                <div class="col">
                                    <% if(executeGetRecords[i].check_out != 0 ) { %> 
                                    <p class="checkout-time-<%=(i+1)%>"><%= executeGetRecords[i].check_out %></p>
                                    <% } %>
                                </div>
                                <div class="col">
                                    <p class="break-time-<%=(i+1)%>"><%= executeGetRecords[i].break_taken %></p>
                                </div>
                                <div class="col">
                                    <!-- <progress id="file" max="100" value="<%= array_of_passedTime[i] %>" class="red" style="background-color: red;"></progress> -->
                                    <% if(executeGetRecords[i].check_out != 0 ) { %> 
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated <% if (array_of_passedTime[i] < 100) { %> bg-danger <% } %>" id="progress-<%=(i+1)%>" role="progressbar"  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= array_of_passedTime[i] %>%"></div>
                                      </div>
                                      <% } %>
                                </div>
                                <div class="col">
                                    <% if(executeGetRecords[i].check_out != 0 ) { %> 
                                    <p class="total-<%=(i+1)%>"><%= executeGetRecords[i].hours_worked %></p>
                                    <% } %>
                                </div>
                            </div>
                        </tr>
                        <% } %>

                        
                    </table>                
            </div>
        </main>
    </div> 
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"></script>

<script src="/js/attendence.js"></script>
</html>

    

         

          


            

 


    

         

       


          
         